/* General */

* {
  font-family: Helvetica, sans-serif;
  color: black;
  background-color: #fff;
}

#how-much, #alcohol-percentage, #volume-group, #price-group, #results-group {
  display: none;
}

/* Header */
/* header {
  width: 100%;
  text-align: center;
  top: 0px;
  height: 150px;
}

#header-content {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  align-items: center;       
}

#header-wrapper {
  width: 500px;                    
}

h1 {
  padding-top: 50px;
  width: 100%;
  height: 100px;
} */

/* h4 {
  padding-top: 20px;
  width: 700px;
} */


/* Main Form Content */
/* body {
  text-align: center;
  height: 150px;
}

#body-content {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#body-content-group {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#what-did-ya-buy {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#how-much {
  display: none;
  text-align: center;
}

input {
  border: 1px solid black;
}

form {
  margin-top: 20px;
}

#how-much-beer-group, #how-much-spirits-group, #quantity-group, #alcohol-percentage-group, #volume-group, #price-group {
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#alcohol-percentage {
  display: none;
  text-align: center;
}

#volume-group {
  display: none;
  text-align: center;
}

#price-group {
  display: none;
  text-align: center;
  margin-bottom: 30px;
}

#resultPrint {
  font-weight: bold;
  text-align: center;
}

#results-group {
  display: none;
  text-align: center;
  margin-bottom: 50px;
}

p {
  margin-bottom: 0px;
}

input[type="text"] {
  width: 60px;
}

input[type="button"]:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 700px) {
  
  h4 {
    width: 400px;
  }

} */